NEXT_PUBLIC_API_URL=http://localhost:3010/api
BACKEND_URL=http://localhost:3010
NEXT_PUBLIC_STOREFRONT_URL=http://localhost:3002
NEXT_PUBLIC_MULTIVENDOR_ENABLED=true
NEXT_PUBLIC_GUEST_CHECKOUT_ENABLED=true
NEXT_PUBLIC_SOCIAL_LOGIN_ENABLED=true
NEXT_PUBLIC_REVIEWS_ENABLED=true
NEXT_PUBLIC_DEFAULT_LOCALE=en
NEXT_PUBLIC_SUPPORTED_LOCALES=en,bn
NEXT_PUBLIC_DEFAULT_CURRENCY=USD
NEXT_PUBLIC_SUPPORTED_CURRENCIES=USD,BDT
